// HOME

.homeHero {
    background-image: url(/assets/imgs/hero-image.png);
    width: 100vw;
    height: 996px;

    .homeHeroContent1 {
        @include basic-flex(center, flex-end, column);
        margin: 80px 20px 20px 0;

        h1 {
            width: 721px;
            height: auto;
            color: white;
            font-size: 63px;
            font-family: Optima-Regular;
            font-weight: normal;
            text-align: center;
            letter-spacing: 5.45px;
        }

        h2 {
            width: 804px;
            height: auto;
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-family: Optima-Regular;
            font-weight: normal;
            text-align: center;
            letter-spacing: 2.01px;
            line-height: 42px;
            margin: 50px 0;
        }

        button {
            display: flex;
            justify-content: center;
            margin: 0px 310px;
        }
    }

    .homeHeroContent2 {
        @include basic-flex(flex-end, center, column)
        width: 100vw;
        height: 310px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-family: Optima-Bold;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1.84px;
        line-height: 47px;
    }
}



.missionStatement {
    width: 1440px;
    height: 549px;
    background: rgb(193, 223, 246);
    border-radius: 0px;

    .missionContent {
        @include basic-flex(space-around, center, row);

        .missionText {
            @include basic-flex(center, center, column);

            h1 {
                @include basic-flex(flex-start, flex-start, row)
                width: auto;
                height: auto;
                color: black;
                font-size: 50px;
                font-family: Optima-Bold;
                font-weight: bold;
                letter-spacing: 4.28px;
                margin: 50px 200px 20px 0;
            }

            h2 {
                width: 593px;
                height: auto;
                color: black;
                font-size: 23px;
                font-family: Optima-Regular;
                font-weight: normal;
                letter-spacing: 1.93px;
                text-indent: 25px; 
                margin: 0 51px 0 86px;
            }

            button {
                margin: 50px 100px 50px 0;
            }
        }

        img {
            @include basic-flex;
            width: 675px;
            height: 446px;
            margin: 51px 35px 51px 0;

        }
    }
}



.locations {
    @include basic-flex(space-around, center, column );
    background-image: url(/assets/imgs/sunflower-image.png); 
    height: 960px;
    width: 100vw;

    h1 {
        width: auto;
        height: auto;
        color: rgb(255, 255, 255);
        font-size: 65px;
        font-family: Optima-Regular;
        font-weight: normal;
        text-align: center;
        letter-spacing: 5.45px;
        margin-top: 150px;
    }


    .location-contents {
        @include basic-flex(space-between, flex-start, row);
        height: 600px;
        width: 90vw;

        h1 {
            text-align: center;
            width: auto;
            height: 50px;
            color: rgb(255, 255, 255);
            font-size: 50px;
            font-family: Optima-Regular;
            font-weight: normal;
            letter-spacing: 4.19px;
            margin: 20px 0;
        }

        h2 {
            height: auto;
            width: auto;
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-family: Optima-Regular;
            font-weight: normal;
            text-align: center;
            letter-spacing: 2.68px;
            line-height: 87px;
        }

        #laramie {
            .cta {
            margin: 30px 0 0 130px;
            }
        }


    }
}



.lightBluePanels {
    @include basic-flex(space-around, center , column);
    background: rgb(193, 223, 246);
    height: auto;
    width: 100vw;

    .howYouCanHelp {
        height: auto;
        width: auto;
        @include basic-flex(space-around, center, column);
        text-align: center;
        padding: 50px;
        color: black;
        

        h1 {
            @include basic-flex;
            font-size: 51px;
            font-family: Optima-BoldItalic;
            font-weight: bolditalic;
            letter-spacing: 4.28px;
            margin-bottom: 100px;
        }

        .helpingContent {
            @include basic-flex(space-around, center, row);
            height: 250px;
            width: 90vw;
            color: black;
            font-size: 23px;
            font-family: Optima-Regular;
            font-weight: normal;
            text-align: center;
            letter-spacing: 1.93px;
            line-height: 28px;

            .volunteer {
                h2{
                    @include basic-flex;
                    font-size: 27px;
                    font-family: Optima-BoldItalic;
                    font-weight: bolditalic;
                    letter-spacing: 2.26px;
                    margin-bottom: 40px;
                }

                h3 {
                    height: auto;
                    width: 450px;
                }

                .cta {
                    margin-top: 50px;
                    padding: 0 30px;
                }
            }

            .donate {
                h2{ 
                    @include basic-flex;
                    font-size: 27px;
                    font-family: Optima-BoldItalic;
                    font-weight: bolditalic;
                    letter-spacing: 2.26px;
                    margin-bottom: 40px;
                }

                h3 {
                    height: auto;
                    width: 450px;
                }

                .cta {
                    margin-top: 50px;
                    padding: 0 40px;
                }
            }
        }
    } //howYouCanHelp

    .events {
        height: auto;
        width: auto;
        @include basic-flex(space-around, center, column);
        padding: 50px;
        margin-top: 50px;

        h1 {
            @include basic-flex;
            font-size: 51px;
            font-family: Optima-BoldItalic;
            font-weight: bolditalic;
            letter-spacing: 4.28px; 
            margin-bottom: 30px;
        }

        .eventsContent {
            height: auto;
            width: auto;
            @include basic-flex(space-between, center, row);
            margin-bottom: 20px;

            .walkOfGrace2019 {
                h1 {
                    @include basic-flex;
                    font-size: 27px;
                    font-family: Optima-BoldItalic;
                    font-weight: bolditalic;
                    letter-spacing: 2.26px;
                }

                padding: 20px; 
                
            }

            .embraceGraceGala2019 {
                h1 {
                    @include basic-flex;
                    font-size: 27px;
                    font-family: Optima-BoldItalic;
                    font-weight: bolditalic;
                    letter-spacing: 2.26px;
                }

                padding: 20px;
                
            }

        } //eventsContent 
    } //events

    .factsAboutSuicide {
        height: auto;
        width: auto;
        @include basic-flex;
        padding: 50px;

        .factsContent {
            height: auto;
            width: 80vw;
            @include basic-flex(space-between, center, column);


            h1{
                @include basic-flex;
                font-size: 51px;
                font-family: Optima-BoldItalic;
                font-weight: bolditalic;
                letter-spacing: 4.28px;
            }

            ul {
                height: auto;
                width: 80vw;
            }


        } //factsContent
    } //factsAboutSuicide

    .footerInfo {
        height: auto;
        width: auto;
        @include basic-flex(center, center, column);
        padding: 50px;

        img {
            width: 759px;
            height: auto;
        }

        p {
            width: auto;
            height: auto;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-family: Optima-BoldItalic;
            font-weight: bolditalic;
            text-align: center;
            letter-spacing: 1.34px;
        }

    } //footerInfo

}



.sponsorFooter {
    width: 100vw;
    height: auto;
    background: rgb(25, 27, 25);
    color: white;
    font-size: 20px;
    font-family: Optima-Regular;
    text-align: center;
    letter-spacing: 1.68px;

    .sponsorLogos {
        width: 100vw;
        height: 180px;
        @include basic-flex(space-between, center, row);

        .logo {
            margin: 0 100px;
        }
    }
}